
.kombo-search {
	> * {
		width: 100%;
		text-align: center;
	}
	.search-container {
		.demo-search {
			margin: 0 auto;
			display: none;
		}
	}
	.tickets-container {
		margin: 16px auto;
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
}

@media (min-width: 993px) {
	.kombo-search {
		display: flex;
		align-items: flex-start;
		justify-content: space-around;
		> * {
			width: 50%;
		}
		.search-container {
			.demo-search {
				display: block;
				cursor: pointer;
			}
		}
	}
}
