/* Import variables */
@import "./../assets/css/variables.css";

.kombo-search {
  /* Apply desktop size styles */
}

.kombo-search > * {
  width: 100%;
  text-align: center;
}

.kombo-search .search-container .demo-search {
  margin: 0 auto;
  display: none;
}

.kombo-search .tickets-container {
  margin: 16px auto;
}

@media (min-width: 993px) {
  .kombo-search {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }

  .kombo-search > * {
    width: 50%;
  }

  .kombo-search .search-container .demo-search {
    display: block;
    cursor: pointer;
  }
}

