/* Import variables */
@import "./../assets/css/variables.css";

.ticket-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticket-info .ticket {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 343px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--white);
  box-shadow: 0px 2px 3px var(--shadow-color);
  border-radius: 13px;
}

.ticket-info .ticket .date {
  padding: 0;
  height: 25px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--kombo-blue);
  border-bottom: var(--shadow-color) 1px solid;
  width: 100%;
  justify-content: center;
  margin-bottom: 16px;
}

.ticket-info .ticket .trip {
  margin-left: 36px;
  margin-bottom: 36px;
}

.ticket-info .ticket .time {
  position: absolute;
  left: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  text-align: right;
}

.ticket-info .ticket .location {
  line-height: 17px;
}

.ticket-info .ticket .location .city {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: flex-end;
}

.ticket-info .ticket .location .station {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: flex-end;
  color: var(--grey);
}

.ticket-info .ticket .transport-type {
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ticket-info .ticket .price {
  padding: 4px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(5, 123, 255, 0.15);
  border-radius: 0px 0px 13px 13px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: var(--kombo-blue);
}
