@import "./../../assets/css/variables.css";

header {
  height: 20px;
  display: flex;
  background-color: var(--kombo-blue);
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}
